* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    /* border: 3px solid yellow; */
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('moon.jpeg');
}

body {
    font-family: 'poppins', sans-serif;
    transition: all 1s;
}

.navigator {
    position: relative;
    top: -30px;
    height: 50px;
    display: flex;
    justify-content: end;
    /* border: 3px solid red; */
}

a {
    padding: 10px 20px;
    margin-right: 35px;
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 1s;
}

/* a::before {
    position: absolute;
    content: "";
    padding: 10px 20px;
    margin-right: 35px;
    color: white;
    text-decoration: none;
    transition: all 1s;
}

a::after{
    padding: 10px 20px;
    margin-right: 35px;
    color: white;
    text-decoration: none;
} */


a:hover
 {
    border: 2px solid red;
}

.logo:hover, .logo1:hover {
    cursor: pointer;
}
.second {
    height: 500px;
    text-align: center;
    /* border: 3px solid rgb(187, 187, 209); */
}
.second.nav{
    animation-delay: 0.5s;
}
.second-text {
    margin-top: 140px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 6900;
    color: red
}

.input-text {
    width: 700px;
    height: 58px;
    font-size: 23px;
    padding-left: 10px;
    border: 2px solid #8B008B;
    border-radius: 5px;
    background-color: lightcyan;
    margin-left: 170px;
    transition: all 1s;
}

.input-text:focus {
    outline: none;
    border: 1px solid red;
    color: black;
    height: 65px;
}

.last-button {
    font-size: 17px;
    padding: 17px 20px;
    border: 5px;
    color: white;
    background-color: red;
    position: relative;
    right: 123px;
    top: -3px;
    transition: all 1s;
}

.last-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav {
    opacity: 0;
    transform: rotateY(100deg);
    animation: anime 1s linear forwards;
}
@keyframes anime {
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }
    
}


@media screen and (max-width: 996px){
    .input-text{
        width: 600px;
        height: 58px;
        /* font-size: 23px; */
        padding-left: 10px;
        margin-left: 170px;

    }
    .navigator{
        margin-right: auto;
    }
    
}

@media screen and (max-width: 824px){
    nav a{
        margin-right: auto;
    }
    .input-text{
        position: relative;
        right: 100px;
    }
    .last-button{
        position: relative;
        top: -56px;
        left: 325px;
    }
    
}

@media screen and (max-width: 412px) {
    .logo{
        font-size: 15px;
    }
    .logo1{
        font: 10px;
        position: relative;
        top: 8px;
    }
    .nav a{
        font-size: 5px;
        margin-right: -10px;
    }

    .second-text{
        font-size: 25px;
    }
    .input-text{
        width: 300px;
        height: 50px;
    }
    .last-button{
        text-align: center;
        position: relative;
        left: 105px;
        top: -48px;
        height: 48px;
    }
    
}

@media screen and (max-width: 360px){
    .nav a{
        position: relative;
        right: 20px;
        margin-right: -20px;
        font-size: 5px;
    }
    .logo{
        position: relative;
        left: -10px;
        font-size: 10px;
    }
    .second-text{
        font-size: 25px;
    }
    .input-text{
        width: 250px;
        height: 45px;
        position: relative;
        left: -100px;
    }
    .last-button{
        height: 42px;
        position: relative;
        top: -44px;
        left: 95px;
        padding: 5px 5px ;
    }

    
}


